/* GLOBAL SETTINGS */
:root{
    --main-radius:5px;
    --main-padding:5px;
}


.dark-mode {
  background: black;
  color: black;
  
}


/* MAIN CONTAINER */
.container{
    background:rgba(255, 255, 255, 0.185);
    display:grid;
    height:100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr;
    grid-template-areas:
        "nav nav nav nav"
        "sidebar main main heatmap"
        "sidebar inflow put-call tweet-volume"
        "sidebar hashrate hashrate hashrate";
    grid-gap: 1em;
    position: relative;
    overflow: clip;
    width: 100%;
/*  padding-top: 56.25%; 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */


}




nav{
    grid-area: nav;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);

}

main{
    background:#ffffff;
    grid-area: main;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);


}

#sidebar{
    background:#ffffff;
    grid-area: sidebar;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);


}

#inflow{
    background:#ffffff;
    grid-area: inflow;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);


}

#heatmap{
    background:#ffffff;
    grid-area: heatmap;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);


}

#tweet-volume{
    background:#ffffff;
    grid-area: tweet-volume;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);


}

#put-call{
    background:#ffffff;
    grid-area: put-call;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);


}



#hashrate{
    background:#ffffff;
    grid-area: hashrate;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);


}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* RESIZE FOR MOBILE DEVICES */
@media only screen and (max-width:1000px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr;
        grid-template-areas:
            "nav"
            "main"
            "heatmap"
            "inflow"
            "put-call"
            "tweet-volume"
            "sidebar"
            "hashrate";
    }

}